.main {
  max-width: 1200px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  margin: 0px auto;
}

.shadow {
  margin-top: 10px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.main_content {
  width: 660px;
}

.article_header {
}

.article_info {
}

.article_content {
  margin-top: 25px;
  font-size: 16px;
}

.make_comment {
  margin-top: 20px;
  .comment_button {
    position: relative;
    .submit_btn {
      position: absolute;
      right: 4px;
      top: -28px;
    }
  }
}

.editor {
  position: relative;
}

.comment_list {
  margin-top: 20px;
}

.replybox {
  margin-left: 45px;
}
