// .whole_page {
//   background: #F6F8FA;
// }

.container {
  background: #f5f7f9;
  padding: 20px 30px;
  height: 100%;
}

.main {
  padding: 30px;
  background: #fff;
  border-radius: 10px;
  min-width: 80%;
}
